
.search-form{
    padding-top: 50px;
}
.container{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)),url('https://res.cloudinary.com/drrezzrvd/image/upload/v1566745000/sunset-with-the-hills_xxzqsw.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}