<!-- <p>profile works!</p>  -->

 <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/profile" style="color:white"><b>GITHUB APP</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> 
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="margin-left:50%" >
      <div class="navbar-nav" >
        <a class="nav-item nav-link active" routerLink="profile" routerLinkActive='active' >Home</a>
        <a class="nav-item nav-link" routerLink="/about" routerLinkActive='active' >About</a>
       
      </div>
    </div>
  </nav> -->
  
  
   <form action="" class="search-form">
      <div class="form-group">
    <input type="text" class="form-control" placeholder="Git Username" [(ngModel)]="username"  name="username" (keyup)="findProfile()" >
   <button class="">Search</button> 
     </div> 
       </form> 
  
  <div *ngIf="profile">
      <div class="panel panel-default">
        <div class="panel-heading">
       {{profile.name}} <span>({{profile.login}})</span>
       <span *ngIf="profile.company"> ,works at {{profile.company}}</span>
       <span *ngIf="profile.location">place {{profile.location}} </span>
        </div>
      </div>
      
     <div class="panel-body">
       <div class="row">
            <div class="col-sm-4" style="top:5%">
               <img src="{{profile.avatar_url}}" alt="Profile Image">
            </div>
            <div class="col-sm-4">
               <ul  class="list-group" style="top:5%"> 
                <li class="list-group items"*ngIf="profile.bio" ><strong>Bio:{{profile.bio}}</strong></li>
                <li class="list-group items"*ngIf="profile.blog"><a href="{{profile.blog}." target="_blank"><strong>Blog:{{profile.blog}}</strong></a></li>
                <li class="list-group items"*ngIf="profile.email"><a href="{{profile.email}." target="_blank"><strong>Email:{{profile.email}}</strong></a></li>
                <!-- <li class="list-group items"*ngIf="profile.hireable"><strong> Hireable status:To be hired .</strong></li> -->
              </ul>
            </div>
            <div class="col-sm-4">
                <div>
                  <p>
                    <span class="label label-default"> public_Repos{{profile.public_repos}} </span>
                    <span class="label label-primary"> followers{{profile.followers}} </span>
                    <span class="label label-success"> following{{profile.following}}</span>
                    <span class="label label-info"> public_gists{{profile.public_gists}}</span>
                  </p>
                  <p><a href="{{profile.html_url}}" target="_blank" class="btn btn-success btn-sm"> View profile on github</a></p>
               <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div> 
                <div class="panel-body" *ngFor="let repo of repos">
                      <p>
                          {{repo.name}}<a href="{{repo.html_url}}" target="_blank" class="btn btn-sm btn-warning pull-right">  View on github </a>
                      </p>
                      <p>{{repo.description}} </p>
                </div> 
            </div>
        </div>
      </div>
    </div>
   </div>
